
$width1 = 0.1rem
$width2 = 0.6rem
$width3 = 1.5rem

$height1 = 0.8rem

$padding1 = 0.1rem
$padding2 = 0.2rem

$border1 = 0.1rem

$fontSize1 = 0.2rem
$fontSize2 = 0.25rem
$fontSize3 = 0.3rem